---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic UEN2bzUwYW5HVXBVVUR1c0FQbWl1cnpqTTpuTEo4VGJYeFc2YVR5VDZxelpqalhCa01mOXVEOUNWUXpjVTlhWGdJV1A5WkRGTk9BSw==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Jun 2016 21:10:26 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - cfb9b5df6fdb0fd90fe16aa2028ca26c
      X-Response-Time:
      - '28'
      X-Transaction:
      - 6c7bcd81c0e99951
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX"}'
  recorded_at: Wed, 08 Jun 2016 21:10:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?user_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Jun 2016 21:10:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 32e323ab1ce73b8df40499a1dda3fa5b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465421126'
      X-Response-Time:
      - '29'
      X-Transaction:
      - 85062bd1d9efeb2c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":740596227935457281,"id_str":"740596227935457281","name":"testing","uri":"\/mjr_tts\/lists\/testing","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"testing","full_name":"@mjr_tts\/testing","created_at":"Wed
        Jun 08 17:27:55 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null}},{"id":740594753486659585,"id_str":"740594753486659585","name":"Clothing","uri":"\/mjr_tts\/lists\/clothing","subscriber_count":0,"member_count":3,"mode":"public","description":"","slug":"clothing","full_name":"@mjr_tts\/clothing","created_at":"Wed
        Jun 08 17:22:03 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[][...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="d52db40cdfd633323cef2cac0152a098",
        oauth_signature="EKtPws6wZPkmFQDFUuYMrnpvcNE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465420226", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Q[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create_all.json
    body:
      encoding: UTF-8
      string: list_id=739942637654921216&owner_id=711995065347006465&screen_name=SkySportsFL%2CSkySportsFL%2Ckendricklamar
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="b6789fd04640973a293795564f5fc26e",
        oauth_signature="fFGf%2BPWQMvE2GGYPX1uwD24z8MA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465420227", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Jun 2016 21:10:27 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - df40cc3fbdb34c97557cd088018dcc60
      X-Response-Time:
      - '14'
      X-Transaction:
      - 445754031b409dd3
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Wed, 08 Jun 2016 21:10:27 GMT
recorded_with: VCR 3.0.1
