---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic UEN2bzUwYW5HVXBVVUR1c0FQbWl1cnpqTTpuTEo4VGJYeFc2YVR5VDZxelpqalhCa01mOXVEOUNWUXpjVTlhWGdJV1A5WkRGTk9BSw==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Jun 2016 20:33:16 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 68bac443baa259c26a06951c58ffcbc4
      X-Response-Time:
      - '25'
      X-Transaction:
      - 0077441500803f56
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX"}'
  recorded_at: Fri, 24 Jun 2016 20:33:16 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?user_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Jun 2016 20:33:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 98b30a1683743294a4f845eae2a73e39
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1466801297'
      X-Response-Time:
      - '36'
      X-Transaction:
      - 003e891a00b48ff0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":744888951115292673,"id_str":"744888951115292673","name":"unique
        list","uri":"\/mjr_tts\/lists\/unique-list","subscriber_count":0,"member_count":1,"mode":"public","description":"","slug":"unique-list","full_name":"@mjr_tts\/unique-list","created_at":"Mon
        Jun 20 13:45:39 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":3,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":28,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null}},{"id":744644615257591808,"id_str":"744644615257591808","name":"mikes
        list","uri":"\/mjr_tts\/lists\/mikes-list","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mikes-list","full_name":"@mjr_tts\/mikes-list","created_at":"Sun
        Jun 19 21:34:45 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"descrip[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="8bf7c9c913db7ec875aa18e9fd558ef1",
        oauth_signature="aHz5rmvcB0WeuKRXBQIJKME7CVA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466800396", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Q[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create_all.json
    body:
      encoding: UTF-8
      string: list_id=744272088551333888&owner_id=711995065347006465&screen_name=carson_blah%2Ctenderlove%2Cwashingtonpost%2CWIRED%2Cnytimes%2CWSJ
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="2bb5fb98382763da673163fb0845d32f",
        oauth_signature="aGPGpD4y7enhDtRnH5TZcb2ckNY%3D", oauth_signature_method="[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=743889984701272064&owner_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="6d5ac9a61b25d26dda28cccfba9630eb",
        oauth_signature="gAQf%2B%2FplVf1pZsXltc30qi61Bm8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466801251", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Jun 2016 20:47:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 73eb1203dcf8cd7b28cc6e8bf1d38072
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1466802152'
      X-Response-Time:
      - '61'
      X-Transaction:
      - 007c964500db4c66
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":1000842626,"id_str":"1000842626","name":"GoRails","screen_name":"GoRails","location":"","description":"Ruby
        on Rails screencasts for aspiring developers by @excid3","url":"http:\/\/t.co\/ej10pLovzk","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ej10pLovzk","expanded_url":"http:\/\/gorails.com","display_url":"gorails.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1225,"friends_count":30,"listed_count":60,"created_at":"Mon
        Dec 10 03:50:01 +0000 2012","favourites_count":2047,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":462,"lang":"en","status":{"created_at":"Thu
        Jun 23 12:03:04 +0000 2016","id":745950295276978177,"id_str":"745950295276978177","text":"RT
        @johnromani90: Cutting back, decided to lose my @Spotify instead of @GoRails
        account\ud83d\ude0f","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"johnromani90","name":"John
        Romani","id":3313757582,"id_str":"3313757582","indices":[3,16]},{"screen_name":"Spotify","name":"Spotify","id":17230018,"id_str":"17230018","indices":[51,59]},{"screen_name":"GoRails","name":"GoRails","id":1000842626,"id_str":"1000842626","indices":[71,79]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jun 23 11:57:05 +0000 2016","id":745948790365036544,"id_str":"745948790365036544","text":"Cutting
        back, decided to lose my @Spotify instead of @GoRails account\ud83d\ude0f","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Spotify","name":"Spotify","id":17230018,"id_str":"17230018","indices":[33,41]},{"screen_name":"GoRails","name":"GoRails","id":1000842626,"id_str":"1000842626","indices":[53,61]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":5,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":2,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twim[...]
[...]
