---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?user_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Jun 2016 23:33:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d95c34dcff66afe5fc4c7018c4e91da6
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1466379201'
      X-Response-Time:
      - '42'
      X-Transaction:
      - 263cefca7725e7cb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":744644615257591808,"id_str":"744644615257591808","name":"mikes
        list","uri":"\/mjr_tts\/lists\/mikes-list","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"mikes-list","full_name":"@mjr_tts\/mikes-list","created_at":"Sun
        Jun 19 21:34:45 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null}},{"id":744626780523405316,"id_str":"744626780523405316","name":"Multiple","uri":"\/mjr_tts\/lists\/multiple","subscriber_count":0,"member_count":3,"mode":"public","description":"","slug":"multiple","full_name":"@mjr_tts\/multiple","created_at":"Sun
        Jun 19 20:23:53 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[][...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="b53a076f9613db989e386cb09c31dad8",
        oauth_signature="okdKeZ%2B41lnQMkiMi4EJEsY0cM4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466379196", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx3[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=743889984701272064&owner_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5e851afce317f6c5b2d47ecf46c15e51",
        oauth_signature="8QXtinMOBIoXQMy56Su4nLywjgo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466379196", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Jun 2016 23:33:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 73b11c91ad2f52a66172b62970b955ea
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1466379202'
      X-Response-Time:
      - '73'
      X-Transaction:
      - a2d27ec6427941c7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":1000842626,"id_str":"1000842626","name":"GoRails","screen_name":"GoRails","location":"","description":"Ruby
        on Rails screencasts for aspiring developers by @excid3","url":"http:\/\/t.co\/ej10pLovzk","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ej10pLovzk","expanded_url":"http:\/\/gorails.com","display_url":"gorails.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1217,"friends_count":30,"listed_count":61,"created_at":"Mon
        Dec 10 03:50:01 +0000 2012","favourites_count":2059,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":459,"lang":"en","status":{"created_at":"Wed
        Jun 15 18:01:20 +0000 2016","id":743141356726476800,"id_str":"743141356726476800","text":"RT
        @wolfieorama: @excid3 welcome knowledge doesn''t come cheaper than lunch....
        Does it? @GoRails","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"wolfieorama","name":"Tweets
        from Wolfie","id":24661632,"id_str":"24661632","indices":[3,15]},{"screen_name":"excid3","name":"Chris
        Oliver","id":14057736,"id_str":"14057736","indices":[17,24]},{"screen_name":"GoRails","name":"GoRails","id":1000842626,"id_str":"1000842626","indices":[88,96]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jun 15 16:36:04 +0000 2016","id":743119896565911553,"id_str":"743119896565911553","text":"@excid3
        welcome knowledge doesn''t come cheaper than lunch.... Does it? @GoRails","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"excid3","name":"Chris
        Oliver","id":14057736,"id_str":"14057736","indices":[0,7]},{"screen_name":"GoRails","name":"GoRails","id":1000842626,"id_str":"1000842626","indices":[71,79]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":743117015141908480,"in_reply_to_status_id_str":"743117015141908480","in_reply_to_user_id":14057736,"in_reply_to_user_id_str":"14057736","in_reply_to_screen_name":"excid3","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twim[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/destroy_all.json
    body:
      encoding: UTF-8
      string: list_id=743889984701272064&owner_id=711995065347006465&screen_name=carson_blah
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="22ac944bdb9a9b32ab28821460ab37b3",
        oauth_signature="95599toM0MJSgGSzb%2FOXbed7N8I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466379196", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Jun 2016 23:33:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 2db2e43d6a7a228e56e60360a03fb369
      X-Response-Time:
      - '95'
      X-Transaction:
      - bf2dd0713f3ed4fd
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":743889984701272064,"id_str":"743889984701272064","name":"Tech","uri":"\/mjr_tts\/lists\/tech","subscriber_count":0,"member_count":7,"mode":"public","description":"","slug":"tech","full_name":"@mjr_tts\/tech","created_at":"Fri
        Jun 17 19:36:07 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","scre[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create_all.json
    body:
      encoding: UTF-8
      string: list_id=744626780523405316&owner_id=711995065347006465&screen_name=jasoncummings86
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5ef55549d144a13caec2d7f4a0d6242a",
        oauth_signature="pYdeRKzkCFgFRDZrF%2BluZelF9MI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466379198"[...]
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic UEN2bzUwYW5HVXBVVUR1c0FQbWl1cnpqTTpuTEo4VGJYeFc2YVR5VDZxelpqalhCa01mOXVEOUNWUXpjVTlhWGdJV1A5WkRGTk9BSw==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Jun 2016 23:35:02 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9a7fabff357639a952d1e6edc497e2f2
      X-Response-Time:
      - '31'
      X-Transaction:
      - a7a2d95919dfa47e
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX"}'
  recorded_at: Sun, 19 Jun 2016 23:35:02 GMT
[...]
