---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="060ba0e3e859baf92db5886c0c68ae60",
        oauth_signature="YL1cAlzz1VQ1tcEDPm6%2BHlMXqzI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466271532", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 18 Jun 2016 17:38:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 7d6b1c95ae7800ce503d6d4911822431
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1466272432'
      X-Response-Time:
      - '176'
      X-Transaction:
      - e25dd77ed2dde73e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11197541,"friends_count":1062,"listed_count":99290,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":160797,"lang":"en","status":{"created_at":"Sat
        Jun 18 17:27:41 +0000 2016","id":744220049586655232,"id_str":"744220049586655232","text":"Looking
        for some good poolside reading? Here are WSJ City''s favorite long reads for
        your weekend enjoyment: https:\/\/t.co\/oFf546OsO7","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/oFf546OsO7","expanded_url":"http:\/\/on.wsj.com\/1Sb7hED","display_url":"on.wsj.com\/1Sb7hED","indices":[108,131]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":25,"favorite_count":23,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="cfd822f9656c564687e58e0d32d8e4ba",
        oauth_signature="QNGx79kNDfEU6EX6c%2BD6gVqa7Qg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466271532", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 18 Jun 2016 17:38:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 6a6e370eae4c22127e7e57fb75853f54
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1466272433'
      X-Response-Time:
      - '101'
      X-Transaction:
      - ce97a8c4570f71e5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":743893277934489600,"id_str":"743893277934489600","name":"Coding","uri":"\/mjr_tts\/lists\/coding","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"coding","full_name":"@mjr_tts\/coding","created_at":"Fri
        Jun 17 19:49:12 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_trans[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=743893277934489600&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="d3b8b6d0887b28bf43f9b459a24c14a7",
        oauth_signature="IEzmSL69qDUASq%2BWMvdV6yV4760%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466271533", oauth_token="71199506534[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=743892459592290305&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="30842a1c16b775e20f15d8ed9ddb1c56",
        oauth_signature="8BywDN2qico8FvYfd8jQcIIEVD0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466271533", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 18 Jun 2016 17:38:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 990e313f6e6014290bfb8a5a0d4f2050
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1466272433'
      X-Response-Time:
      - '18'
      X-Transaction:
      - a243b1bd0bc3abde
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Sat, 18 Jun 2016 17:38:53 GMT
[...]
