---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="fb980be0d485eaa830cfd71a5dbb251c",
        oauth_signature="1%2F2ZqEBWfZG%2FYoR1qLB%2BKeJUVZ4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539299", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:01:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 5d71eb3d40a6ce721db4e8b9c7c64095
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1466540091'
      X-Response-Time:
      - '84'
      X-Transaction:
      - 00ad8541008848b6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":744888951115292673,"id_str":"744888951115292673","name":"unique
        list","uri":"\/mjr_tts\/lists\/unique-list","subscriber_count":0,"member_count":1,"mode":"public","description":"","slug":"unique-list","full_name":"@mjr_tts\/unique-list","created_at":"Mon
        Jun 20 13:45:39 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":28,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}},{"id":744644615257591808,"id_str":"744644615257591808","name":"mikes
        list","uri":"\/mjr_tts\/lists\/mikes-list","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mikes-list","full_name":"@mjr_tts\/mikes-list","created_at":"Sun
        Jun 19 21:34:45 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"descrip[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=744888951115292673&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="375ddac65e7a500083086b1d05e8e67c",
        oauth_signature="eQglXyLx%2FrmqEvlNLUdMYrRISJE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539300", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:01:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 1cd3fe373284823bde89a8c30cfd2506
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1466540091'
      X-Response-Time:
      - '55'
      X-Transaction:
      - 6cc7faa5b563b98f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":2467791,"id_str":"2467791","name":"Washington Post","screen_name":"washingtonpost","location":"Washington,
        DC","description":"Tweet-length breaking news, analysis from around the world.
        Founded in 1877. Follow our journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/VV0UBAMHg8","expanded_url":"https:\/\/twitter.com\/washingtonpost\/lists\/washington-post-people","display_url":"twitter.com\/washingtonpost\u2026","indices":[112,135]}]}},"protected":false,"followers_count":6687481,"friends_count":1287,"listed_count":70091,"created_at":"Tue
        Mar 27 11:19:39 +0000 2007","favourites_count":4260,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":181084,"lang":"en","status":{"created_at":"Tue
        Jun 21 19:52:15 +0000 2016","id":745343596858118145,"id_str":"745343596858118145","text":"Are
        there issues that you want The Post editorial board to weigh in on? https:\/\/t.co\/WlNWsKo3b9
        via @PostOpinions https:\/\/t.co\/ZhSRbX3dIU","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PostOpinions","name":"Post
        Opinions","id":14345812,"id_str":"14345812","indices":[100,113]}],"urls":[{"url":"https:\/\/t.co\/WlNWsKo3b9","expanded_url":"http:\/\/wapo.st\/28Lgwxi","display_url":"wapo.st\/28Lgwxi","indices":[72,95]}],"media":[{"id":745343593792081920,"id_str":"745343593792081920","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/Clf-DK-XEAACMaK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Clf-DK-XEAACMaK.jpg","url":"https:\/\/t.co\/ZhSRbX3dIU","display_url":"pic.twitter.com\/ZhSRbX3dIU","expanded_url":"http:\/\/twitter.com\/washingtonpost\/status\/745343596858118145\/photo\/1","type":"photo","sizes":{"large":{"w":965,"h":458,"resize":"fit"},"small":{"w":680,"h":323,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":965,"h":458,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":745343593792081920,"id_str":"745343593792081920","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/Clf-DK-XEAACMaK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Clf-DK-XEAACMaK.jpg","url":"https:\/\/t.co\/ZhSRbX3dIU","display_url":"pic.twitter.com\/ZhSRbX3dIU","expanded_url":"http:\/\/twitter.com\/washingtonpost\/status\/745343596858118145\/photo\/1","type":"photo","sizes":{"large":{"w":965,"h":458,"resize":"fit"},"small":{"w":680,"h":323,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":965,"h":458,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":22,"favorite_count":15,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"333333","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/464437503\/wp-capitol.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/464437503\/wp-capitol.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000252568100\/7a366ac8d0f934b5318e721ba049e9b1_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000252568100\/7a366ac8d0f934b5318e721ba049e9b1_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2467791\/1348076832","profile_link_color":"0057EC","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DBDBDB","profile_text_color":"323232","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 21 Jun 2016 20:01:40 GMT
[...]
