---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjrode
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="b3da01119bf9751a7f65bc7c26ccc3f8",
        oauth_signature="UEkTMURn2Yn3hlTeE%2BzjeHv6nvI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465056903", oauth_token="172021389-Z5qATOSSXKgyNsHUFTXbFXnENU2D5K0L67Hrvbp8",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 16:15:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - bd79c4d5a561dc6fbccd20f9d6241021
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465057803'
      X-Response-Time:
      - '120'
      X-Transaction:
      - 0282b027485170a7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":167338603,"id_str":"167338603","name":"Inspired Education","uri":"\/thinkful\/lists\/inspired-education","subscriber_count":273,"member_count":29,"mode":"public","description":"","slug":"inspired-education","full_name":"@thinkful\/inspired-education","created_at":"Wed
        Aug 20 16:29:51 +0000 2014","following":true,"user":{"id":994394408,"id_str":"994394408","name":"Thinkful","screen_name":"thinkful","location":"New
        York, NY","description":"Universal, mentor-led learning online. Anyone with
        a strong will to learn can become a great engineer or designer. Start the
        journey with a mentor by your side.","url":"https:\/\/t.co\/WI5dIFWGDt","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/WI5dIFWGDt","expanded_url":"http:\/\/www.thinkful.com","display_url":"thinkful.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6272,"friends_count":1694,"listed_count":286,"created_at":"Fri
        Dec 07 05:08:26 +0000 2012","favourites_count":4286,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1784,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/618245363007250433\/AsEF51pA_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/618245363007250433\/AsEF51pA_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/994394408\/1448984938","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}},{"id":735965725844705280,"id_str":"735965725844705280","name":"TestList","uri":"\/mjrode\/lists\/testlist","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"testlist","full_name":"@mjrode\/testlist","created_at":"Thu
        May 26 22:47:57 +0000 2016","following":true,"user":{"id":172021389,"id_str":"172021389","name":"Michael
        Rode","screen_name":"mjrode","location":"Jacksonville Beach, FL","description":"Developer
        in training","url":"https:\[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=167338603&owner_screen_name=mjrode
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="89c67c160748def6ef71950ebd05f8c0",
        oauth_signature="946lfsdv%2B00lP3%2FLfvRILgvTHq0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465056903", oauth_token="172021389-Z5qATOSSXKgyNsHUFTXbFXnENU2D5K0L67Hrvbp8",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 16:15:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 08184a01121058c45409288bb45fddef
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1465057803'
      X-Response-Time:
      - '289'
      X-Transaction:
      - 9c9d546c4aff1fde
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":2462430336,"id_str":"2462430336","name":"Zed A. Shaw,
        Writer","screen_name":"lzsthw","location":"San Francisco, CA","description":"The
        author of The Hard Way Series published by Addison\/Wesley including Learn
        Python The Hard Way and many more. Follow me here for coding tips and book
        news.","url":"http:\/\/t.co\/lOELhJzuQ5","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/lOELhJzuQ5","expanded_url":"http:\/\/learnpythonthehardway.org\/","display_url":"learnpythonthehardway.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6039,"friends_count":185,"listed_count":135,"created_at":"Fri
        Apr 25 00:46:14 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":826,"lang":"en","status":{"created_at":"Fri
        Jun 03 23:03:12 +0000 2016","id":738868667790721025,"id_str":"738868667790721025","text":"Just
        ordered https:\/\/t.co\/4L07jEMQ9f Nothing there yet, but coming soon.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/4L07jEMQ9f","expanded_url":"http:\/\/learnjsthehardway.com","display_url":"learnjsthehardway.com","indices":[13,36]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":5,"favorite_count":25,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/501196660567846913\/Amr0EtKa_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twim[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="a45ebfc2709d6c37e5281ef64e4f7b67",
        oauth_signature="1uhW9X9p6kRpTfpygnfNj%2Fjo7cE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465058372", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
    [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=737320628215111680&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="f398314a70a7f3e0c0b49cfaef26e5a7",
        oauth_signature="s9utRGhGIRP3YjDrueDLhMdYPtI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465058373", oauth_token="7119950653470[...]
