---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="6398f6e9622fbcf7694f2463b094c4a1",
        oauth_signature="YGAqqsC5dwgoc5nZQ%2FE7dbPXrtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465054599", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 15:36:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 473e93afe7261ebdb0ad5a6db33ebbdb
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465055499'
      X-Response-Time:
      - '154'
      X-Transaction:
      - 41d6f9375645cf84
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":29476097,"id_str":"29476097","name":"Ann Marie Rode","screen_name":"rosewally4","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":4,"listed_count":0,"created_at":"Tue
        Apr 07 15:57:28 +0000 2009","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","status":{"created_at":"Thu
        Apr 09 02:18:09 +0000 2009","id":1480854521,"id_str":"1480854521","text":"what
        now?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":true,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":3108351,"id_str":"3108351","name":"Wall
        Street Journal","screen_name":"WSJ","location":"New York, NY","description":"Breaking
        news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11106513,"friends_count":1063,"listed_count":99010,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":159077,"lang":"en","status":{"created_at":"Sat
        Jun 04 15:30:05 +0000 2016","id":739117025876938752,"id_str":"739117025876938752","text":"Muhammad
        Ali shook up the world: https:\/\/t.co\/2Q55DqEq4Z https:\/\/t.co\/PnBOqmdDKT","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/2Q55DqEq4Z","expanded_url":"http:\/\/on.wsj.com\/1X47UaI","display_url":"on.wsj.com\/1X47UaI","indices":[33,56]}],"media":[{"id":739117023079211008,"id_str":"739117023079211008","indices":[57,80],"media_url":"http:\/\/pbs.twimg.com\/media\/CkHfBDgUoAA_8dW.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkHfBDgUoAA_8dW.jpg","url":"https:\/\/t.co\/PnBOqmdDKT","display_url":"pic.twitter.com\/PnBOqmdDKT","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739117025876938752\/photo\/1","type":"photo","sizes":{"large":{"w":640,"h":360,"resize":"fit"},"small":{"w":640,"h":360,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":640,"h":360,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":739117023079211008,"id_str":"739117023079211008","indices":[57,80],"media_url":"http:\/\/pbs.twimg.com\/media\/CkHfBDgUoAA_8dW.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkHfBDgUoAA_8dW.jpg","url":"https:\/\/t.co\/PnBOqmdDKT","display_url":"pic.twitter.com\/PnBOqmdDKT","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739117025876938752\/photo\/1","type":"photo","sizes":{"large":{"w":640,"h":360,"resize":"fit"},"small":{"w":640,"h":360,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":640,"h":360,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":42,"favorite_count":57,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
       [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="80e580b112c36b2cbc8a64242946e43f",
        oauth_signature="dVR7Z4o8rHTwB3EI7PyQ54lrDW4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465054599", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 15:36:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 445c0b76ff50b287cbbff2d59b64500f
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465055500'
      X-Response-Time:
      - '117'
      X-Transaction:
      - e7cde058668c78ef
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":737320628215111680,"id_str":"737320628215111680","name":"Mike
        ","uri":"\/mjr_tts\/lists\/mike","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mike","full_name":"@mjr_tts\/mike","created_at":"Mon
        May 30 16:31:51 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":11,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}}]'
  recorded_at: Sat, 04 Jun 2016 15:36:40 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=737320628215111680&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="bfe8bfd78069f0a382200f3c125ed7d8",
        oauth_signature="ZY8FcQyurRxjFH2GuRNk3hehdkA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465054600", oauth_token="7119950653470[...]
