---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="c0278a80f1e8f61e964ecb7f859be390",
        oauth_signature="rxrlGoxT9b730RxnwBqLJOHqdUo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465064551", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 18:22:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - e9fcb57cb482196166c100e326c3b3e6
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465065451'
      X-Response-Time:
      - '273'
      X-Transaction:
      - 5c3734e6cb65828d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11107373,"friends_count":1063,"listed_count":99016,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":159085,"lang":"en","status":{"created_at":"Sat
        Jun 04 18:05:42 +0000 2016","id":739156186918981632,"id_str":"739156186918981632","text":"Comedian
        Maya Rudolph on playing Oprah, not watching TV and her new variety show https:\/\/t.co\/TjKFs7ddzO
        https:\/\/t.co\/aE88EvmPyz","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/TjKFs7ddzO","expanded_url":"http:\/\/on.wsj.com\/1VC8USo","display_url":"on.wsj.com\/1VC8USo","indices":[81,104]}],"media":[{"id":739156182183579648,"id_str":"739156182183579648","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/CkICoaiWEAA4Ws7.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkICoaiWEAA4Ws7.jpg","url":"https:\/\/t.co\/aE88EvmPyz","display_url":"pic.twitter.com\/aE88EvmPyz","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739156186918981632\/photo\/1","type":"photo","sizes":{"large":{"w":900,"h":900,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":900,"h":900,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":739156182183579648,"id_str":"739156182183579648","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/CkICoaiWEAA4Ws7.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkICoaiWEAA4Ws7.jpg","url":"https:\/\/t.co\/aE88EvmPyz","display_url":"pic.twitter.com\/aE88EvmPyz","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739156186918981632\/photo\/1","type":"photo","sizes":{"large":{"w":900,"h":900,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":900,"h":900,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":28,"favorite_count":49,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="1d04f34ea218d498d32206635b4cb9c7",
        oauth_signature="YP3wYRTEiTjr2fRKXGOE60o7YKU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465064551", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 18:22:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 272166fce6dbed534d72e5b50db0c319
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465065451'
      X-Response-Time:
      - '60'
      X-Transaction:
      - 2ae6ff7b8776672d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":737320628215111680,"id_str":"737320628215111680","name":"Mike
        ","uri":"\/mjr_tts\/lists\/mike","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mike","full_name":"@mjr_tts\/mike","created_at":"Mon
        May 30 16:31:51 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}}]'
  recorded_at: Sat, 04 Jun 2016 18:22:31 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=737320628215111680&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="0664b31943c96e3a23ac2fd0676ae0e4",
        oauth_signature="OdFE8dpZUslwym63ZElQLuux040%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465064551", oauth_token="7119950653470[...]
[...]
