---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="521ec3435829831e6a430c31a5a9f934",
        oauth_signature="oYelyu6iXXg5I37MO5ewYxJzifc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465057753", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 16:29:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 6f89d4003358ed67aab3dd888f17a9de
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1465058618'
      X-Response-Time:
      - '167'
      X-Transaction:
      - 0b94bd8589814bd6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11106758,"friends_count":1063,"listed_count":99011,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":159080,"lang":"en","status":{"created_at":"Sat
        Jun 04 16:20:07 +0000 2016","id":739129615835402240,"id_str":"739129615835402240","text":"Muhammad
        Ali: His life in photos https:\/\/t.co\/6mqbajb2yy https:\/\/t.co\/TK8jrihLzX","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/6mqbajb2yy","expanded_url":"http:\/\/on.wsj.com\/25DNkj2","display_url":"on.wsj.com\/25DNkj2","indices":[33,56]}],"media":[{"id":739129610915487745,"id_str":"739129610915487745","indices":[57,80],"media_url":"http:\/\/pbs.twimg.com\/media\/CkHqdw2XIAEu-dT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkHqdw2XIAEu-dT.jpg","url":"https:\/\/t.co\/TK8jrihLzX","display_url":"pic.twitter.com\/TK8jrihLzX","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739129615835402240\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":674,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1200,"h":674,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":739129610915487745,"id_str":"739129610915487745","indices":[57,80],"media_url":"http:\/\/pbs.twimg.com\/media\/CkHqdw2XIAEu-dT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CkHqdw2XIAEu-dT.jpg","url":"https:\/\/t.co\/TK8jrihLzX","display_url":"pic.twitter.com\/TK8jrihLzX","expanded_url":"http:\/\/twitter.com\/WSJ\/status\/739129615835402240\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":674,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1200,"h":674,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":91,"favorite_count":107,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="29fbb90a368ed47912b27b93e881a794",
        oauth_signature="j0Gw14PaAq2WinEesDERHUHbkSI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465057754", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 16:29:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - f399b39c07441179b56884251d6b471c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1465058618'
      X-Response-Time:
      - '47'
      X-Transaction:
      - e1fd8f12598351e5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":737320628215111680,"id_str":"737320628215111680","name":"Mike
        ","uri":"\/mjr_tts\/lists\/mike","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mike","full_name":"@mjr_tts\/mike","created_at":"Mon
        May 30 16:31:51 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}}]'
  recorded_at: Sat, 04 Jun 2016 16:29:14 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=737320628215111680&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="67554755bb74daeda9eb2773362e8d64",
        oauth_signature="aEhdSWocwq9KU4jgQ8xAvKjVN2k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465057754", oauth_token="7119950653470[...]
[...]
