---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="c6ee0a2db344ab3ada3e9b75423a070f",
        oauth_signature="k%2FSFcKquowHivs8TzHZNsR6WRO4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465055439", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 15:50:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 678ee24be58ef46fe84c50d5de9f0f47
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1465055499'
      X-Response-Time:
      - '126'
      X-Transaction:
      - 962a719f4004c650
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11106534,"friends_count":1063,"listed_count":99011,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":159078,"lang":"en","status":{"created_at":"Sat
        Jun 04 15:40:30 +0000 2016","id":739119647161749505,"id_str":"739119647161749505","text":"Breaking:
        Serena Williams loses to Garbine Muguruza in French Open women''s final  https:\/\/t.co\/IGL1TY09ft","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/IGL1TY09ft","expanded_url":"http:\/\/on.wsj.com\/25DNpU2","display_url":"on.wsj.com\/25DNpU2","indices":[82,105]}]},"source":"\u003ca
        href=\"http:\/\/online.wsj.com\" rel=\"nofollow\"\u003eWSJ.com\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":111,"favorite_count":109,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="704ee9601f592e83ce57d936597221fc",
        oauth_signature="DXx5ZPlnBzUAtn1Xax37NRfPrAA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465055440", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 04 Jun 2016 15:50:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - be5713d94a26135f95cac307aa32b626
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '5'
      X-Rate-Limit-Reset:
      - '1465055500'
      X-Response-Time:
      - '70'
      X-Transaction:
      - 959f4c9f0af4b3d4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":737320628215111680,"id_str":"737320628215111680","name":"Mike
        ","uri":"\/mjr_tts\/lists\/mike","subscriber_count":0,"member_count":5,"mode":"public","description":"","slug":"mike","full_name":"@mjr_tts\/mike","created_at":"Mon
        May 30 16:31:51 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}}]'
  recorded_at: Sat, 04 Jun 2016 15:50:40 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=737320628215111680&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="7d3d5f449714cb16668ce4a326235a36",
        oauth_signature="2jd3MEFyz3Bd%2FpmySTa7fstTdy4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465055440", oauth_token="71199506534[...]
[...]
