---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic UEN2bzUwYW5HVXBVVUR1c0FQbWl1cnpqTTpuTEo4VGJYeFc2YVR5VDZxelpqalhCa01mOXVEOUNWUXpjVTlhWGdJV1A5WkRGTk9BSw==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 00:33:58 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 55dadd5810fbfd02a7563a53bf825b88
      X-Response-Time:
      - '24'
      X-Transaction:
      - 875ad0f22a15dc71
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX"}'
  recorded_at: Tue, 07 Jun 2016 00:33:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?user_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 00:33:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - c9673a3d0f8bdb5dc0c75df147df14a2
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1465260064'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 6b5bb0ec6f85629d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":739942637654921216,"id_str":"739942637654921216","name":"Jake","uri":"\/mjr_tts\/lists\/jake","subscriber_count":0,"member_count":2,"mode":"public","description":"","slug":"jake","full_name":"@mjr_tts\/jake","created_at":"Mon
        Jun 06 22:10:46 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null}},{"id":739942573700206593,"id_str":"739942573700206593","name":"Mike","uri":"\/mjr_tts\/lists\/mike1","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"mike1","full_name":"@mjr_tts\/mike1","created_at":"Mon
        Jun 06 22:10:31 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5d01a25b342ed26b7d6acc30cd407886",
        oauth_signature="b0DZJ%2FCkDrBIMeO77Pq6jSM%2F5ig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465259638", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaq[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=739942637654921216&owner_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="95f1b2efbd914e90303accefa0b6fb6a",
        oauth_signature="hBedWuHl4XBk7yNy2GkhB7MGrbQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465259638", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 00:33:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 0497c02940b52ce928eb7446f775ffe3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1465260064'
      X-Response-Time:
      - '57'
      X-Transaction:
      - 089af559cd97a295
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":443668407,"id_str":"443668407","name":"Football League","screen_name":"SkySportsFL","location":"","description":"The
        official site of Sky Sports Football League coverage","url":"http:\/\/t.co\/FVW4969yfb","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/FVW4969yfb","expanded_url":"http:\/\/www.skysports.com\/footballleague","display_url":"skysports.com\/footballleague","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":100106,"friends_count":208,"listed_count":395,"created_at":"Thu
        Dec 22 12:13:02 +0000 2011","favourites_count":4,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":7350,"lang":"en","status":{"created_at":"Mon
        Jun 06 09:41:44 +0000 2016","id":739754134077902848,"id_str":"739754134077902848","text":"RT
        @SkySportsNewsHQ: BREAKING NEWS: Charlton Athletic appoint Russell Slade as
        manager on three-year deal.\n\n#SSNHQ","truncated":false,"entities":{"hashtags":[{"text":"SSNHQ","indices":[108,114]}],"symbols":[],"user_mentions":[{"screen_name":"SkySportsNewsHQ","name":"Sky
        Sports News HQ","id":108568373,"id_str":"108568373","indices":[3,19]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Jun 06 09:40:54 +0000 2016","id":739753924069085184,"id_str":"739753924069085184","text":"BREAKING
        NEWS: Charlton Athletic appoint Russell Slade as manager on three-year deal.\n\n#SSNHQ","truncated":false,"entities":{"hashtags":[{"text":"SSNHQ","indices":[87,93]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":153,"favorite_count":181,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":153,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/508919299285585920\/HGMjxHuO.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/508919299285585920\/HGMjxHuO.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/502483436615897088\/WoGXwfgl_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/502483436615897088\/WoGXwfgl_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/443668407\/1410170767","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":23561980,"id_str":"23561980","name":"Kendrick
        Lamar","screen_name":"kendricklamar","location":[...]
[...]
