---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic UEN2bzUwYW5HVXBVVUR1c0FQbWl1cnpqTTpuTEo4VGJYeFc2YVR5VDZxelpqalhCa01mOXVEOUNWUXpjVTlhWGdJV1A5WkRGTk9BSw==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 14:27:36 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - bfaccc448839cf367782ad43fabd08c8
      X-Response-Time:
      - '23'
      X-Transaction:
      - 64f3a96aa2c32ce9
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX"}'
  recorded_at: Tue, 07 Jun 2016 14:27:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?user_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPfmvAAAAAAAxuLnQIbL9WM5N3RJsBv%2BKM4fD%2B4%3D3SzoKa9kefI2w6PPiDb4kAzAmXwF7Ev2x3V4zHI9hXls3k39nX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 14:27:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 861d63a79dfb679076914f695b48ed7d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '3'
      X-Rate-Limit-Reset:
      - '1465309947'
      X-Response-Time:
      - '29'
      X-Transaction:
      - 73ea74356f4c487a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":739942637654921216,"id_str":"739942637654921216","name":"Jake","uri":"\/mjr_tts\/lists\/jake","subscriber_count":0,"member_count":2,"mode":"public","description":"","slug":"jake","full_name":"@mjr_tts\/jake","created_at":"Mon
        Jun 06 22:10:46 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null}},{"id":739942573700206593,"id_str":"739942573700206593","name":"Mike","uri":"\/mjr_tts\/lists\/mike1","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"mike1","full_name":"@mjr_tts\/mike1","created_at":"Mon
        Jun 06 22:10:31 +0000 2016","following":false,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="21bc2e84d999941e61d4c35d8545e862",
        oauth_signature="m%2BhDK12%2BsHNwISAk8U8pNCDP1po%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465309657", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaq[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=739942637654921216&owner_id=711995065347006465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="8932d984ae5c0f989355533944497571",
        oauth_signature="Ama8FvuHnXT46BLE9nhZtIJmscI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465309657", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 14:27:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 038bf303e4b2195bd132e9a961087603
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '168'
      X-Rate-Limit-Reset:
      - '1465309947'
      X-Response-Time:
      - '87'
      X-Transaction:
      - cd581a0cddf92815
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":2806203971,"id_str":"2806203971","name":"Jason Cummings","screen_name":"jasoncummings86","location":"Jacksonville,
        FL","description":"Software Developer @ Hashrocket.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":90,"friends_count":90,"listed_count":12,"created_at":"Sat
        Oct 04 20:28:56 +0000 2014","favourites_count":38,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":88,"lang":"en","status":{"created_at":"Thu
        Jun 02 14:52:48 +0000 2016","id":738382866346823680,"id_str":"738382866346823680","text":"RT
        @sharkclock: The #wsop kicks off today! https:\/\/t.co\/Iy3IAoq7YR","truncated":false,"entities":{"hashtags":[{"text":"wsop","indices":[20,25]}],"symbols":[],"user_mentions":[{"screen_name":"sharkclock","name":"sharkclock","id":725485834179321856,"id_str":"725485834179321856","indices":[3,14]}],"urls":[],"media":[{"id":738380512201342977,"id_str":"738380512201342977","indices":[43,66],"media_url":"http:\/\/pbs.twimg.com\/media\/Cj9BKerVAAEnTa3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cj9BKerVAAEnTa3.jpg","url":"https:\/\/t.co\/Iy3IAoq7YR","display_url":"pic.twitter.com\/Iy3IAoq7YR","expanded_url":"http:\/\/twitter.com\/sharkclock\/status\/738380523077263360\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":1067,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":604,"resize":"fit"},"large":{"w":1024,"h":1820,"resize":"fit"}},"source_status_id":738380523077263360,"source_status_id_str":"738380523077263360","source_user_id":725485834179321856,"source_user_id_str":"725485834179321856"}]},"extended_entities":{"media":[{"id":738380512201342977,"id_str":"738380512201342977","indices":[43,66],"media_url":"http:\/\/pbs.twimg.com\/media\/Cj9BKerVAAEnTa3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cj9BKerVAAEnTa3.jpg","url":"https:\/\/t.co\/Iy3IAoq7YR","display_url":"pic.twitter.com\/Iy3IAoq7YR","expanded_url":"http:\/\/twitter.com\/sharkclock\/status\/738380523077263360\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":1067,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":604,"resize":"fit"},"large":{"w":1024,"h":1820,"resize":"fit"}},"source_status_id":738380523077263360,"source_status_id_str":"738380523077263360","source_user_id":725485834179321856,"source_user_id_str":"725485834179321856"}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jun 02 14:43:29 +0000 2016","id":738380523077263360,"id_str":"738380523077263360","text":"The
        #wsop kicks off today! https:\/\/t.co\/Iy3IAoq7YR","truncated":false,"entities":{"hashtags":[{"text":"wsop","indices":[4,9]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":738380512201342977,"id_str":"738380512201342977","indices":[27,50],"media_url":"http:\/\/pbs.twimg.com\/media\/Cj9BKerVAAEnTa3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cj9BK[...]
[...]
