---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="b446429d3fa5f9cf1b3c7e5807478573",
        oauth_signature="vbYStUwWhOM1U6e8f%2BfLUjaciRU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539698", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:08:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 1ebd80683496d752ac5c89a504aabbae
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1466540090'
      X-Response-Time:
      - '87'
      X-Transaction:
      - 00f4126800630e3d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11215246,"friends_count":1062,"listed_count":99339,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":161159,"lang":"en","status":{"created_at":"Tue
        Jun 21 20:04:19 +0000 2016","id":745346629717340160,"id_str":"745346629717340160","text":"Campaign
        influence of Trump\u2019s adult children grows. Donald Jr. told Lewandowski
        he was out https:\/\/t.co\/Pbd9DJmxHg","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Pbd9DJmxHg","expanded_url":"http:\/\/on.wsj.com\/28STqXl","display_url":"on.wsj.com\/28STqXl","indices":[91,114]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":12,"favorite_count":10,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="73faf11dfc2eb4d28b91e097d1294934",
        oauth_signature="Zumby1b9cfT6MQQPtwAR9si3GOQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539698", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:08:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 25f94879a8a7cc6251ac1bdd96293dba
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '8'
      X-Rate-Limit-Reset:
      - '1466540091'
      X-Response-Time:
      - '50'
      X-Transaction:
      - 64d0677c29b3638d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":744888951115292673,"id_str":"744888951115292673","name":"unique
        list","uri":"\/mjr_tts\/lists\/unique-list","subscriber_count":0,"member_count":1,"mode":"public","description":"","slug":"unique-list","full_name":"@mjr_tts\/unique-list","created_at":"Mon
        Jun 20 13:45:39 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":28,"lang":"en","contributors_enabled":false,"is_translator":false,"is_trans[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=744888951115292673&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="9627882634d062135e3c00d0db6aeb52",
        oauth_signature="HCimofkairICJUpNBNAfCEyl1XE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539698", oauth_token="7119950653470[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=mjrode&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="09ec86cabfcfa66da05037cfb8c7b93e",
        oauth_signature="0YJruwCdhPuL2ZpMG59cZj10P8s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539701[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=743655719170367488
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:08:22 GMT
      X-Connection-Hash:
      - fdb2b27cd53b92fc4b28b7c90edebd0a
      [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=jasoncummings86&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="8e34b224017bd3a6fc9a0648f771b027",
        oauth_signature="ZEDHyBIjEqxZNYMFWYiZMjX9bLY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=744687998042673152
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:08:22 GMT
      X-Connection-Hash:
      - f5b7ee9231d726fc92522bc46374c5fd
      X-Response-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/jasoncummings86\/status\/744687998042673152","author_name":"Jason
        Cummings","author_url":"https:\/\/twitter.com\/jasoncummings86","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EReady for
        the showdown tonight.  Also I heard there was a basketball game on. \u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/gameofthrones?src=hash\"\u003E#gameofthrones\u003C\/a\u003E
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/battleofthebastards?src=hash\"\u003E#battleofthebastards\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/nEqzziH2nW\"\u003Epic.twitter.com\/nEqzziH2nW\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Jason Cummings (@jasoncummings86) \u003Ca href=\"https:\/\/twitter.com\/jasoncummings86\/status\/744687998042673152\"\u003EJune
        20, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 20:08:22 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=WSJ&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5b9a86626dba61121cf835965439fbc7",
        oauth_signature="sHcw8Uw2J%2BBOo4oxzMefz1jPTL4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466539703"[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=washingtonpost&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="ca0ac5f6cbc4e05c95b317bdbd104d04",
        oauth_signature="iZctjF%2FqVlic1kSLbrofgHCRQPc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=745273331235065856
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 20:08:35 GMT
      Perf:
      - '6'
      X-Connection-Hash:
      - 111617cba1b88b6ea48fd2a528fe29de
      X-Response-Time:
      - '21'
      X-Transaction-Id:
      - 00fecdd60012ea2f
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/washingtonpost\/status\/745273331235065856","author_name":"Washington
        Post","author_url":"https:\/\/twitter.com\/washingtonpost","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EA sloth
        risks its life every time it poops. Watch the harrowing act for yourself.\u003Ca
        href=\"https:\/\/t.co\/k7Dv25GvP6\"\u003Ehttps:\/\/t.co\/k7Dv25GvP6\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/mkkQ5g5UVS\"\u003Epic.twitter.com\/mkkQ5g5UVS\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Washington Post (@washingtonpost) \u003Ca href=\"https:\/\/twitter.com\/washingtonpost\/status\/745273331235065856\"\u003EJune
        21, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 20:08:35 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=nytimes&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="47de900d11d87b637dcbbe45ff3ad14b",
        oauth_signature="IgGvDgHwsy2Dg2r2Qsdf4O1pu5U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="146653971[...]
