---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="59a009317b0fe3cbdafbb40014838206",
        oauth_signature="O4YDBWDN7wPMvQhAQklVh1xeeuU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465261329", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 01:02:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - d24f6e5b9075cb97ac5e18e5451086dd
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1465262229'
      X-Response-Time:
      - '240'
      X-Transaction:
      - a141c4cb2610c9fe
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":739942637654921216,"id_str":"739942637654921216","name":"Jake","uri":"\/mjr_tts\/lists\/jake","subscriber_count":0,"member_count":2,"mode":"public","description":"","slug":"jake","full_name":"@mjr_tts\/jake","created_at":"Mon
        Jun 06 22:10:46 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}},{"id":739942573700206593,"id_str":"739942573700206593","name":"Mike","uri":"\/mjr_tts\/lists\/mike1","subscriber_count":0,"member_count":0,"mode":"public","description":"","slug":"mike1","full_name":"@mjr_tts\/mike1","created_at":"Mon
        Jun 06 22:10:31 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=739942637654921216&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="c274eb9750f7043e019560a1d0375a6b",
        oauth_signature="PsYlPCq89gXU0NgMziPe4X1IEwg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465261330", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 01:02:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - cc7b9bec39669c18a1be361598e27e1c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1465262230'
      X-Response-Time:
      - '123'
      X-Transaction:
      - be6697015c37a5b1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":443668407,"id_str":"443668407","name":"Football League","screen_name":"SkySportsFL","location":"","description":"The
        official site of Sky Sports Football League coverage","url":"http:\/\/t.co\/FVW4969yfb","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/FVW4969yfb","expanded_url":"http:\/\/www.skysports.com\/footballleague","display_url":"skysports.com\/footballleague","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":100106,"friends_count":208,"listed_count":395,"created_at":"Thu
        Dec 22 12:13:02 +0000 2011","favourites_count":4,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":7350,"lang":"en","status":{"created_at":"Mon
        Jun 06 09:41:44 +0000 2016","id":739754134077902848,"id_str":"739754134077902848","text":"RT
        @SkySportsNewsHQ: BREAKING NEWS: Charlton Athletic appoint Russell Slade as
        manager on three-year deal.\n\n#SSNHQ","truncated":false,"entities":{"hashtags":[{"text":"SSNHQ","indices":[108,114]}],"symbols":[],"user_mentions":[{"screen_name":"SkySportsNewsHQ","name":"Sky
        Sports News HQ","id":108568373,"id_str":"108568373","indices":[3,19]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Jun 06 09:40:54 +0000 2016","id":739753924069085184,"id_str":"739753924069085184","text":"BREAKING
        NEWS: Charlton Athletic appoint Russell Slade as manager on three-year deal.\n\n#SSNHQ","truncated":false,"entities":{"hashtags":[{"text":"SSNHQ","indices":[87,93]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":153,"favorite_count":181,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":153,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/508919299285585920\/HGMjxHuO.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/508919299285585920\/HGMjxHuO.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/502483436615897088\/WoGXwfgl_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/502483436615897088\/WoGXwfgl_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/443668407\/1410170767","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":23561980,"id_str":"23561980","name":"Kendrick
        Lamar","screen_name":"kendricklamar","location":[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=739942573700206593&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="bc35281b5ffc12574d9ccb2bb371b11c",
        oauth_signature="UIvaTxmef7K8W%2FELBaHpTwH9oZI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465261330", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Jun 2016 01:02:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 2bf3fc21d18bcbb28656dbd9164acded
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1465262230'
      X-Response-Time:
      - '21'
      X-Transaction:
      - cb25284808951bf3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 07 Jun 2016 01:02:10 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="bf44b89e4d0b0b439ddb3ae8f87dc390",
        oauth_signature="XGo8%2F1%2BBFXFeCwJFuOCtj8G0oJA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465261378", oauth_token="711995065347006465-JLJWrBLyfySojW[...]
[...]
