---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5a1938ccd8e908959edafcb89a0d7c6b",
        oauth_signature="3vpgwH7TZd5zLM7Arg6qPSxOFwU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466523036", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:30:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - d0f138bd384b7f21f7369398b585d6e4
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1466523430'
      X-Response-Time:
      - '142'
      X-Transaction:
      - e7b9b2b05527f630
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3108351,"id_str":"3108351","name":"Wall Street Journal","screen_name":"WSJ","location":"New
        York, NY","description":"Breaking news and features from the WSJ.","url":"https:\/\/t.co\/GhhR6PLfem","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GhhR6PLfem","expanded_url":"http:\/\/wsj.com","display_url":"wsj.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11213692,"friends_count":1062,"listed_count":99319,"created_at":"Sun
        Apr 01 06:22:13 +0000 2007","favourites_count":1296,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":161132,"lang":"en","status":{"created_at":"Tue
        Jun 21 15:29:14 +0000 2016","id":745277405808451585,"id_str":"745277405808451585","text":"RT
        @WSJecon: Yellen won''t be rescuing Puerto Rico: \"It wouldn\u2019t be appropriate
        for us to give loans to Puerto Rico\" https:\/\/t.co\/Y9q5k6GFYv","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"WSJecon","name":"Real
        Time Economics","id":16334857,"id_str":"16334857","indices":[3,11]}],"urls":[{"url":"https:\/\/t.co\/Y9q5k6GFYv","expanded_url":"http:\/\/on.wsj.com\/28LH7zq","display_url":"on.wsj.com\/28LH7zq","indices":[116,139]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Jun 21 15:27:32 +0000 2016","id":745276974747291648,"id_str":"745276974747291648","text":"Yellen
        won''t be rescuing Puerto Rico: \"It wouldn\u2019t be appropriate for us to
        give loans to Puerto Rico\" https:\/\/t.co\/Y9q5k6GFYv","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Y9q5k6GFYv","expanded_url":"http:\/\/on.wsj.com\/28LH7zq","display_url":"on.wsj.com\/28LH7zq","indices":[103,126]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":1,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":3,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDF2F5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026078008\/c07ad7d60f01c3a836dd701fc3f71233.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/685113343204585473\/jV72Zljq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3108351\/1462483236","profile_link_color":"1164B8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2467791,"id_str":"2467791","name":"Washington
        Post","screen_name":"washingtonpost","location":"Washington, DC","description":"Tweet-length
        breaking news, analysis from around the world. Founded in 1877. Follow our
        journalists on Twitter: https:\/\/t.co\/VV0UBAMHg8","url":"http:\/\/t.co\/Hq7hTYkOPg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Hq7hTYkOPg","expanded_url":"http:\/\/washingtonpost.com","display_url":"washingtonpost.com","indices":[0,22]}]},"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="f87ba24fa4ee62e493c37d511cf3198d",
        oauth_signature="YXykn%2FiD9LaFLRyKYeu5b66J8ZM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466523037", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:30:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - e42bf003d1b42bdbf80d1245ae68a2d2
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1466523430'
      X-Response-Time:
      - '136'
      X-Transaction:
      - d15c16a9650725ec
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":744888951115292673,"id_str":"744888951115292673","name":"unique
        list","uri":"\/mjr_tts\/lists\/unique-list","subscriber_count":0,"member_count":1,"mode":"public","description":"","slug":"unique-list","full_name":"@mjr_tts\/unique-list","created_at":"Mon
        Jun 20 13:45:39 +0000 2016","following":true,"user":{"id":711995065347006465,"id_str":"711995065347006465","name":"test
        less","screen_name":"mjr_tts","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":10,"listed_count":0,"created_at":"Mon
        Mar 21 19:17:06 +0000 2016","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":26,"lang":"en","contributors_enabled":false,"is_translator":false,"is_trans[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=744888951115292673&owner_screen_name=mjr_tts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="c9c0e3de96b38129e08c7cbccad2332f",
        oauth_signature="0kTbAd3mHov6K1bL73U5Rg0kQe8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466523037", oauth_token="7119950653470[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=jasoncummings86&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="a19a3ad509f8390ee1f029161958a46c",
        oauth_signature="KxZE7PFXccNGJsIunJsxr6Qgq30%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="14[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=744687998042673152
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:41:14 GMT
      X-Connection-Hash:
      - 89dbfebb9cedf76a96c985a02f7cd963
      X-Response-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/jasoncummings86\/status\/744687998042673152","author_name":"Jason
        Cummings","author_url":"https:\/\/twitter.com\/jasoncummings86","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EReady for
        the showdown tonight.  Also I heard there was a basketball game on. \u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/gameofthrones?src=hash\"\u003E#gameofthrones\u003C\/a\u003E
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/battleofthebastards?src=hash\"\u003E#battleofthebastards\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/nEqzziH2nW\"\u003Epic.twitter.com\/nEqzziH2nW\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Jason Cummings (@jasoncummings86) \u003Ca href=\"https:\/\/twitter.com\/jasoncummings86\/status\/744687998042673152\"\u003EJune
        20, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:41:14 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=WSJ&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="f7bcea89b4ea3ce5462f4fcf18667a63",
        oauth_signature="ZQ%2FTgEgL84KThGQyF2rY7jCgZow%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524006",[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=washingtonpost&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="281bf561154aeb66e9af661922bad801",
        oauth_signature="PCxpOJ94NZ%2FcHg6d864ducnjdQI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=nytimes&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="0a25dee1451cd28b49a179cb997eecd1",
        oauth_signature="EYAb0hJf3uHiR7UD7wwrhaFfQYA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524011[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=745160349217787905
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:02 GMT
      X-Connection-Hash:
      - 2b6495460d99fe61246b8abe568ef102
      X-Response-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/nytimes\/status\/745160349217787905","author_name":"The
        New York Times","author_url":"https:\/\/twitter.com\/nytimes","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003E&quot;It
        don&#39;t work that way, darling.&quot; When the EU referendum causes family
        drama: \u003Ca href=\"https:\/\/t.co\/NYupqxpSJ5\"\u003Ehttps:\/\/t.co\/NYupqxpSJ5\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/I9kEQg0rvF\"\u003Epic.twitter.com\/I9kEQg0rvF\u003C\/a\u003E\u003C\/p\u003E&mdash;
        The New York Times (@nytimes) \u003Ca href=\"https:\/\/twitter.com\/nytimes\/status\/745160349217787905\"\u003EJune
        21, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:47:02 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=tenderlove&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="bd1f6ffda84b732f1a209db3ee528663",
        oauth_signature="fbVE6FOGXC9guR9wdNEf62zUwXY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=WIRED&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="0202386ad3e27291204f08399dabdfd7",
        oauth_signature="73w4mEUfscSjWIDYaQZbRLmYdEs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524023",[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=745251910790320128
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:05 GMT
      X-Connection-Hash:
      - 6f096afd85606de0121e31e5144ead98
      X-Response-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/WIRED\/status\/745251910790320128","author_name":"WIRED","author_url":"https:\/\/twitter.com\/WIRED","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EExclusive
        clip: Meet the Fleshlumpeater, the meanest, dumbest giant in Spielberg&#39;s
        &#39;The BFG&#39; \u003Ca href=\"https:\/\/t.co\/gCGv0L0ZRk\"\u003Ehttps:\/\/t.co\/gCGv0L0ZRk\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/uAUUoazVvv\"\u003Epic.twitter.com\/uAUUoazVvv\u003C\/a\u003E\u003C\/p\u003E&mdash;
        WIRED (@WIRED) \u003Ca href=\"https:\/\/twitter.com\/WIRED\/status\/745251910790320128\"\u003EJune
        21, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:47:05 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=745039054052417536
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:07 GMT
      X-Connection-Hash:
      - 0df7b5497ebe325d7d2b6c98485494d2
      X-Response-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/WIRED\/status\/745039054052417536","author_name":"WIRED","author_url":"https:\/\/twitter.com\/WIRED","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EThe Motorola
        VerveOne wireless earbuds don&#39;t quite live up to the dream of wireless
        earbuds: \u003Ca href=\"https:\/\/t.co\/wXNLkeQcJo\"\u003Ehttps:\/\/t.co\/wXNLkeQcJo\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/5q5wXA65Pg\"\u003Epic.twitter.com\/5q5wXA65Pg\u003C\/a\u003E\u003C\/p\u003E&mdash;
        WIRED (@WIRED) \u003Ca href=\"https:\/\/twitter.com\/WIRED\/status\/745039054052417536\"\u003EJune
        20, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:47:08 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=744940858902982656
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:09 GMT
      X-Connection-Hash:
      - d654678f4e8097c6f54e85bd4fef6c7e
      X-Response-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/WIRED\/status\/744940858902982656","author_name":"WIRED","author_url":"https:\/\/twitter.com\/WIRED","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EThis week&#39;s
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/Outlander?src=hash\"\u003E#Outlander\u003C\/a\u003E
        pushes pause on war and confronts demons from the past. \u003Ca href=\"https:\/\/twitter.com\/rgay\"\u003E@rgay\u003C\/a\u003E
        recaps: \u003Ca href=\"https:\/\/t.co\/K9jJg23KZ1\"\u003Ehttps:\/\/t.co\/K9jJg23KZ1\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/dgJHPJ4Vvn\"\u003Epic.twitter.com\/dgJHPJ4Vvn\u003C\/a\u003E\u003C\/p\u003E&mdash;
        WIRED (@WIRED) \u003Ca href=\"https:\/\/twitter.com\/WIRED\/status\/744940858902982656\"\u003EJune
        20, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:47:09 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=carson_blah&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5e27c1cf22e651467b298420e4491dcf",
        oauth_signature="t3z8nIajOt2hW4Yk845uChgegL0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="146652[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=niedzielskiadam&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="1e1dcd37e25b8a8cb331717eb655bf80",
        oauth_signature="SsfNPXwtPuMNBL%2FptN%2FV1pgKIF0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=JakubJatczak&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="3a312febc4f9fa454ff6ae53a9b9ea8d",
        oauth_signature="%2FgfbDS0sK1VcZ0DcXTSRTNk8psU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="146[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=pokorson&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="3801edcb478ec45fa5a199b7f30b5bd1",
        oauth_signature="v2DS4bAgs3ucaGPOLwrBoLwUAho%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="146652403[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=GoRails&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="f9f386006fdb14cfee03d26b79978703",
        oauth_signature="wkqF%2FpFN35R8d1gtOy0Q%2FkJHF0k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524031", oauth_token="711995065347006465-JLJWrBLyfySojWUz1C7mwaqx37Qv7vQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 788b1d4e92ccaf18328bc7088b71da35
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '170'
      X-Rate-Limit-Reset:
      - '1466524906'
      X-Response-Time:
      - '150'
      X-Transaction:
      - 7b4f5e481275461c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Jun 10 22:50:44 +0000 2016","id":741402243891527680,"id_str":"741402243891527680","text":"Feature.
        https:\/\/t.co\/050HXO9729","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/050HXO9729","expanded_url":"https:\/\/twitter.com\/heyitsgarrett\/status\/741390884185350144","display_url":"twitter.com\/heyitsgarrett\/\u2026","indices":[9,32]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1000842626,"id_str":"1000842626"},"geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":741390884185350144,"quoted_status_id_str":"741390884185350144","quoted_status":{"created_at":"Fri
        Jun 10 22:05:35 +0000 2016","id":741390884185350144,"id_str":"741390884185350144","text":"Pour
        one out for my favorite bug of 2016 https:\/\/t.co\/bPKHMhBDSn","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":741390477992169474,"id_str":"741390477992169474","indices":[41,64],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/741390477992169474\/pu\/img\/Mh7r-e2UmF2-ij5j.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/741390477992169474\/pu\/img\/Mh7r-e2UmF2-ij5j.jpg","url":"https:\/\/t.co\/bPKHMhBDSn","display_url":"pic.twitter.com\/bPKHMhBDSn","expanded_url":"http:\/\/twitter.com\/heyitsgarrett\/status\/741390884185350144\/video\/1","type":"photo","sizes":{"large":{"w":268,"h":152,"resize":"fit"},"medium":{"w":268,"h":152,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":268,"h":152,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":741390477992169474,"id_str":"741390477992169474","indices":[41,64],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/741390477992169474\/pu\/img\/Mh7r-e2UmF2-ij5j.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/741390477992169474\/pu\/img\/Mh7r-e2UmF2-ij5j.jpg","url":"https:\/\/t.co\/bPKHMhBDSn","display_url":"pic.twitter.com\/bPKHMhBDSn","expanded_url":"http:\/\/twitter.com\/heyitsgarrett\/status\/741390884185350144\/video\/1","type":"video","sizes":{"large":{"w":268,"h":152,"resize":"fit"},"medium":{"w":268,"h":152,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":268,"h":152,"resize":"fit"}},"video_info":{"aspect_ratio":[67,38],"duration_millis":10860,"variants":[{"bitrate":320000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/741390477992169474\/pu\/vid\/268x152\/VWWd0w4Hic_UB4qN.mp4"},{"content_type":"application\/dash+xml","url":"https:\/\/video.twimg.com\/ext_tw_video\/741390477992169474\/pu\/pl\/smtCxWvnlSZDzTqX.mpd"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/741390477992169474\/pu\/pl\/smtCxWvnlSZDzTqX.m3u8"}]},"additional_media_info":{"monetizable":false}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":755594,"id_str":"755594"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3929,"favorite_count":6396,"favorited":false,"retweeted":false,"possibly_sensitive":[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=SportsCenter&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="5a56481944b801d3359ce136b91c74ea",
        oauth_signature="ADZ8NIljhvLbeLHLgSfk3Yr3f2A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="14665[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=745259893561626625
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2016 15:47:12 GMT
      X-Connection-Hash:
      - bb2c20782eb99297decc7a4c2e71fd04
      X-Response-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/SportsCenter\/status\/745259893561626625","author_name":"SportsCenter","author_url":"https:\/\/twitter.com\/SportsCenter","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003ETHIS JUST
        IN: Sweden&#39;s Zlatan Ibrahimovic says he will retire from international
        football after EURO 2016. \u003Ca href=\"https:\/\/t.co\/QU2FENBBou\"\u003Epic.twitter.com\/QU2FENBBou\u003C\/a\u003E\u003C\/p\u003E&mdash;
        SportsCenter (@SportsCenter) \u003Ca href=\"https:\/\/twitter.com\/SportsCenter\/status\/745259893561626625\"\u003EJune
        21, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 21 Jun 2016 15:47:12 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=mjrode&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="9112442b805a404e031306c5ff711093",
        oauth_signature="%2Bb6TRDI1s1raERXcBM8oG2O1GAU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="146652403[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&exclude_replies=true&include_rts=false&screen_name=Coalboat&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PCvo50anGUpUUDusAPmiurzjM", oauth_nonce="a62b9b796ea618ed329876da698d971c",
        oauth_signature="a1zw6S5lEY1GNNpVxF%2FB7nlhU30%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466524[...]
- request:
    method: get
[...]
