-@lists.each do |list|
  .col-sm-6.col-sm-offset-3.center.move-down
    = link_to list.name, edit_list_path(list), class: "button btn btn-default list-button no-margin"
    %i.fa.fa-trash.fa-lg.move-down
      =link_to "Delete List", list_path(list), method: :delete, data:{confirm: "Are you sure you want to delete #{list.name}? This will remove it from twitter too!"}
    %hr/
      
.col-sm-6.col-sm-offset-3.center.move-down
  %button.btn.btn-default-btn-primary.btn-lg.center= link_to "Update Lists", import_lists_path