%h2.play.center Enter New List Name:
.col-sm-6.col-sm-offset-3
  =form_for @lists do |f|
    =f.text_field :name, placeholder: "Name", class: "full-width form-control"
    =f.submit  class: "form-control"