%h4 Would you like to create a new list or build from a pre-exisiting one? 

%button.btn.btn-default= link_to "New List", name_path
%button.btn.btn-default= link_to "Build from pre-exisiting list", "#"
