%body
  #pink
    %h2.new-title.center Add Your Email
    .move-down-new.small-12.columns.large-6.float-left.large-offset-3
      =form_tag('/update_email') do
        =text_field_tag :email,"",placeholder: "example@email.com", class: "form-control em3"
        %br/
        = submit_tag "Submit", class: "yellow large full-width button middle"

