%h3.center.move-down-4 We are missing your E-mail!
.small-4.columns.small-offset-4
  =form_tag('/update_email') do
    %label
      Email
      =text_field_tag :email,"",placeholder: "example@email.com", class: "form-control em3"
    %br/
    = submit_tag "Submit", class: "success button middle"