%hr.half-width
.row
  =form_tag add_multiple_friends_lists_path, method: :post, class: 'form-group' do 
    - @friends.each do |friend|
      .large-6.columns.large-offset-3
        .small-4.columns.border-right
          =image_tag friend.avatar, class: "circle"
        .h2.center.name.align-right= friend.name
        .center.bio.align-right= friend.bio_extra
        %br
        
        =select_tag "friends[][list_id]", content_tag(:option,'Select One...',:value=>"")+options_from_collection_for_select(List.all, 'id', 'name'), class: "float-right small-form"
        %br/
        =select_tag "friends[][schedule]", options_for_select(FriendListSchedule.schedules, friend.current_schedule(@list)), class: "float-right small-form clear"
        =hidden_field_tag "friends[][friend_id]", friend.id
        %br/
        %hr
    =submit_tag "Submit", class: "button success large float-center half-width"
