.large-5.large-offset-3.small-12.columns
  = link_to "Load New Tweets", fetch_tweets_path, class: "yellow large button full-width float-center margin-top-2"
-@tweets.each do |tweet|
  .columns.large-5.large-offset-3.center.small-12
    =tweet.html_block.html_safe
    =form_tag replies_create_path do 
      .form-group
        Reply
        =text_area_tag :body, "@#{tweet.friend.username}", class: "full-width form-control resize-reply"
      .form-group
        =hidden_field_tag :remote_tweet_id, tweet.remote_tweet_id
        =hidden_field_tag :user_id, tweet.user.id
        =hidden_field_tag :tweet_id, tweet.id
      .form-group
        =submit_tag "Reply", class: "yellow button half-width float-center"

    %hr

.middle.center.clear-both=paginate @tweets
