%h1.full-width.title.center.lower
  Less-Tweets
%h3.center.tag.coulmns.large-8.large-offset-2
  Reducing your timeline clutter by only showing you what you want to see.
=link_to "Log In", "/auth/twitter", class: "yellow large button half-width float-center"


%hr.white
%hr.bye
.columns.large-6
  %h3.about See Whats Important 
  %p.about-p LessTweets offers a better way to view all of the pictures your friends have tweeted. All of the images are now in one streamlined view with the ability to reply inline. The best part is after you view a tweet it will be removed from your timeline so it will no longer add to the clutter. 
.columns.large-6
  = image_tag 'tweet3.png', class: "tweet-image image-center"


%hr.white.pull-right
%hr.bye
#moving-down
.columns.large-6
  = image_tag 'list.png', class: "tweet-image images-center"
.columns.large-6
  %h3.about.right Easily Manage Lists
  %p.about-p.right LessTweets offers a simpler approach to managing twitter lists. With LessTweets you can select which friends you would like to see more tweets from. Every night your list will be updated to show you tweets from friends that you marked as relevant. 
%hr.bye
%p