
= link_to image_tag("http://vignette4.wikia.nocookie.net/simpsons/images/1/11/Twitter_bird_icon.png/revision/latest?cb=20111228065136"), "#", class: "tweet-me"
%p.center.tweet-me-text Share with Friends

