%body.home
  %h1.title.center
    About 
  %h2.center How can TwitterLists help you?
  .row#about
    .copy
      %p TwitterLists is a web application that makes managing your Twitter lists a breeze.
      %p With our app you can easily:
      %ul
        %li Create/Destroy Lists
        %li Add/Remove Friends to/from Lists
        %li Set how often you want that friend to appear on a list 