-if current_user
  %h2.center.play.big What ya wanna do ?

  .col-sm-6.col-sm-offset-3.center.move-down
    %button.btn.btn-default.list-button.play= link_to "Make a New List", new_list_path
    %button.btn.btn-default.list-button.play= link_to "Edit Current List", lists_path
    %button.btn.btn-default.list-button.play= link_to "View Unassigned Friends", unassigned_friends_path


-else
  .col-sm-6.col-sm-offset-3.col-xs-12
    %h1.center.push-down Twitter Lists
    .hovereffect
      %img.img-responsive= image_tag "twitter_bird.png", class: "middle full-width"
      .overlay
        %h2 Welcome
        %a.info{:href => "/auth/twitter/"} log in