-if current_user
  %h2.center.play.big What ya wanna do ?

  .col-sm-6.col-sm-offset-3.center.move-down
    %button.btn.btn-default.list-button.play= link_to "Make a New List", new_list_path
    %button.btn.btn-default.list-button.play= link_to "Edit Current List", lists_path
    %button.btn.btn-default.list-button.play= link_to "View Unassigned Friends", unassigned_friends_path


-else
  %h1.center.play Please Log In
  = link_to (image_tag "twitter-pen-lg.png", class: "middle move-down"), "/auth/twitter/"