/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
.center{
  text-align: center;
}

.center-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-button-med{
  width: 100%;
  height: 2em;
  font-size: 2em;
}
.list-button{
  width: 100%;
  height: 4em;
  font-size: 2em;
}
.full-width{
  width: 100%;
}
.play{
  font-family: 'Play', sans-serif;
}
.big{
  font-size: 5em;
}
.move-down{
  margin-top: 1em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #505050;
}
body{
  font-family: 'Play', sans-serif;
}
.navbar-default{
  background-color: #505050;
  border-color: #505050;

}
.navbar-default .navbar-brand{
  color: white;
}
.navbar-default .navbar-brand:hover{
  color: #58CEF2;
  
}
.navbar-default .navbar-nav li a{
  color: white;
}
.navbar-default .navbar-nav li a:hover{
  color: #58CEF2;
}

.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.navbar, .navbar-brand{
  font-size: 1.5em;
  color: white;
}
.small{
  width: 5%;
}
.half-width{
  width: 50%;
}
.marg-bottom{
  margin-bottom: 2em;
}
.small-width{
  width: 10%;
  display: inline;
}
.push-down{
  margin-bottom:2em;
}
.new-form-text{
  font-size: 2em;
}