/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_self
  *= require_tree
  *= require animate
 */
  @import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
.small{
  height: 3em;
}
.circle{
  border-radius: 8em;
  margin-top: 1em;
}
.list{
    position: absolute;
    top: 22em;
    left: 0em;
}

.over{
  position: absolute;
  bottom: 6em;
  left: 16em;
}
.six-height{
  height: 6em;
}
.inline{
  display: inline;
}
.collage{
 width: 49%;
 height: 12em;
 display: inline;
 margin: 0;
 padding-bottom: 2%;
}
.logo{
  color: white;
}
.button.black{
  color: black;
}
.menu>li>a{
  color: black;
}
.menu>li>a:hover{
  color: gray;
  background-color: #D5FAFF;
}

.clear{
  clear: right;
}
.clear-both{
  clear: both;
}
.center{
  text-align: center;
}
.big{
  font-size: 5em;
}
.full-width{
  width: 100%;
}
.move-down{
  margin-top: 1em;
}
.move-down-4{
  margin-top: 4em;
}
.half-width{
  width: 50%;
}
.name{
  font-size: 2em;
}
.small-form{
  width: 35%;
}
.border-right{
  border-right: 1px solid #cacaca;
}
.align-right{
  text-align: right;
}

  // Adjust width accordingly (use even #'s)
  $logo-width: 118px;
  // Reduce px value to increase space between logo and menu text
  $logo-padding: $logo-width - 32px; 
  // Leave alone
  $logo-margin: - ($logo-width / 2);

  /* Small Navigation */
  .logo-small {
    float: right;
  }

  .title-bar {
    padding: 0 .5rem;
  }

  .menu-icon,
  .title-bar-title {
    position: relative;
    top: 10px;
  }

  /* Medium-Up Navigation */
  @media only screen and (min-width: 40rem) { 

    .logo-wrapper {
      position: relative;
      
      .logo {
        width: $logo-width;
        height:  92px;
        position: absolute;
        left: 50%;
        right: 50%;
        top: -6px;
        margin-left: $logo-margin;
      }
    }

    // Right part
    .top-bar-right {
      width: 50%;
      padding-left: $logo-padding;
      
      ul {
        float: left;
      }
    }
    
    // Left part
    .top-bar-left {
      width:  50%;
      padding-right: $logo-padding;
      
      ul {
        float: right;
      }
    }
  }

.top-bar .custom{
  background-color: #FFFFFF;;
}
