/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_self
  *= require_tree
 */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);


/*Small Screens*/
@media only screen and (min-device-width : 300px) and (max-device-width : 599px) { 
  .margin-top-30{
    margin-top: 10em;
  }
  body.new{
    background-image: asset-url("create_new_list_mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0em 5em;
  }
  .move-down-20{
    margin-top: 50%;

  }
  body.email{
    background-image: asset-url("edit_email_mobile.png");
    background-repeat: no-repeat;
    background-position: 0em 5em;
    background-size: 100%;

  }
}

/*Big Screens*/
@media only screen and (min-width: 600px) {
  body.email{
    background-image: asset-url("edit_email.png");
    background-repeat: no-repeat;
    background-position: center;

  }
.button.move-down-button{
  margin-top: 40%;
}
  body.new{
    background-image: asset-url("create_new_list.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .margin-top-30{
    margin-top: 30em;
  }
  .move-down-20{
    margin-top: 28%;
  }
}

body.home{
  background-image: asset-url("twitter_lists2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0em  3em;
}


.circle{
  border-radius: 8em;
  margin-top: 1em;
}
.min{
  height: 3em;
}
.small{
  height: 3em;
}

.six-height{
  height: 6em;
}
.inline{
  display: inline;
}

.collage{
 width: 24%;
 height: 8em;
 display: inline;
 margin: 0;
 padding-bottom: 2%;
}
.logo{
  color: white;
}
.button.black{
  color: black;
}
.menu>li>a{
  color: black;
}
.menu>li>a:hover{
  color: gray;
  background-color: #D5FAFF;
}

.clear{
  clear: right;
}
.clear-both{
  clear: both;
}
.center{
  text-align: center;
}
.big{
  font-size: 5em;
}
.full-width{
  width: 100%;
}
.move-down{
  margin-top: 1em;
}
.move-down-4{
  margin-top: 4em;
}
.half-width{
  width: 50%;
}
.four-width{
  width: 48%;
}
.name{
  font-size: 2em;
}
.small-form{
  width: 35%;
}
.border-right{
  border-right: 1px solid #cacaca;
}
.align-right{
  text-align: right;
}

  // Adjust width accordingly (use even #'s)
  $logo-width: 118px;
  // Reduce px value to increase space between logo and menu text
  $logo-padding: $logo-width - 32px; 
  // Leave alone
  $logo-margin: - ($logo-width / 2);

  /* Small Navigation */
  .logo-small {
    float: right;
  }

  .title-bar {
    padding: 0 .5rem;
  }

  .menu-icon,
  .title-bar-title {
    position: relative;
    top: 10px;
  }

  /* Medium-Up Navigation */
  @media only screen and (min-width: 40rem) { 

    .logo-wrapper {
      position: relative;
      
      .logo {
        width: $logo-width;
        height:  92px;
        position: absolute;
        left: 50%;
        right: 50%;
        top: -6px;
        margin-left: $logo-margin;
      }
    }

    // Right part
    .top-bar-right {
      width: 50%;
      padding-left: $logo-padding;
      
      ul {
        float: left;
      }
    }
    
    // Left part
    .top-bar-left {
      width:  50%;
      padding-right: $logo-padding;
      
      ul {
        float: right;
      }
    }
  }

.top-bar .custom{
  background-color: #FFFFFF;;
}
